.outer-navbar{
    background-color: #DFF6FF;
}
.outer-navbar{
    padding: 15px 0 15px 0;
}
.outer-navbar a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font: 14px;
    margin-left: 60px;
}