.departments-list{
    width: 80%;
    height: 380px;
    background-color: #051367;
}

.departments-list a{
    text-decoration: none;
    color: aliceblue;
}

.service-card{
    width: 100%;
    height: 330px;
}

.service-card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.service-img{
    position: relative;
}

.img{
    display: block;
}

.img-overlay a{
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DFF6FF;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.img-overlay:hover{
    opacity: 1;
}

.img-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.img-overlay:hover > * {
    transform: translateY(0);
}